* {
  margin: 0;
  padding: 0;
}

header {
  background: rgb(253, 29, 29);
  background: linear-gradient(90deg, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);

  color: white;
  text-align: center;
  font-size: 250%;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 1rem;
}

.carousel-item img {
  height: 600px;
  object-fit: contain;
}

.h4 {
  color: #fd1d1d;
  font-size: 1.2rem;
  display: block;
  margin: 1rem 0;
}

.pics .col .text {
  border: 1px solid rgba(37, 101, 233, 0.3);
  border-right: none;
  border-radius: 10px;
  padding: 0 1rem;
  padding-bottom: 1rem;
  margin: 1rem 0;
  color: #333;
}

.pics .col img {
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  height: 500px;
  object-fit: cover;
  cursor: pointer;
}

h4 {
  margin: 1rem 0;
  color: #fd1d1d;
  font-size: 1.2rem;
}

.pics .col .text {
  border: 1px solid rgba(253, 29, 29, 0.2);
  border-right: none;
  border-radius: 10px;
  padding: 0 1rem;
  padding-bottom: 1rem;
  margin: 1rem 0;
  color: #333;
}

.toggle-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin: 1rem 0;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1080px;
}

section.pics {
  display: flex;
  gap: 1rem;
}

.pics .col {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 1rem;
}

footer {
  background: rgb(252, 176, 69);
  background: linear-gradient(90deg, rgba(252, 176, 69, 1) 50%, rgba(253, 29, 29, 1) 100%);

  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 200%;
  font-weight: bold;
  margin-top: 20px;
  padding: 1rem;
}

footer .videos {
  margin-top: 10px;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  display: grid;
  width: 100%;
  padding: 1rem;
  align-items: center;
  justify-items: center;
}

footer video {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
}

h2 {
  text-align: center;
  padding: 20px;
  border-top: 0.5px solid #fd1d1d;
  margin-top: 20px;
  border-bottom: 0.5px solid #fd1d1d;
  color: #fd1d1d;
}